AddDefaultCharset UTF-8

#Order deny,allow
#deny from all
#### Список IP через пробел, с которых доступ разрешен
##Allow from 195.211.139.66 46.211.
#Allow from 195.211.139.66 37.187.99.146

Options +FollowSymLinks
##IndexIgnore */*
RewriteEngine On

# SSL redirect
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## https to http
#RewriteEngine On
#RewriteCond %{HTTPS} on
#RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI}

 # WWW redirect
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

RewriteCond %{HTTP_HOST} ^www*.iq-offshore\.com [NC]
RewriteRule (.*) https://iq-offshore.com/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^.*/index\.(php|html?) [NC]
RewriteRule ^(.*)index.(php|html?)$ /$1 [R=301,NC,L]

RewriteRule ^offers/index$ /$1 [R=301,NC,L]
RewriteRule ^news/index$ /news [R=301,NC,L]
RewriteRule ^news/c/(.*)$ /news-category/$1 [R=301,NC,L]
RewriteRule ^news/c/(.*)$ /news-category/$1 [R=301,NC,L]

RewriteRule ^ru/ru/(.*)$ /ru/$1 [R=301,NC,L]
RewriteRule ^en/ru/(.*)$ /ru/$1 [R=301,NC,L]

##RewriteCond %{THE_REQUEST} \s(.*)\?page=([^&\s]+)&(.*)\s [NC]
##RewriteRule ^ %1/page%2?%3 [R=301,L]
##RewriteRule ^(.*)/page([0-9]+)$ /$1/page/$2 [QSA,L]

#RewriteCond %{THE_REQUEST} \s(.*)\?page=([^&\s]+)(.*)\s [NC]
#RewriteRule ^ %1/page%2? [R=301,L]
#RewriteRule ^(.*)/page/([0-9]+)$ /$1/page$2 [R=301,NC,L]


RewriteRule ^news/page-articles$ /news [R=301,NC,L]
RewriteRule ^(.*)/view/(.*)$ /$1/$2 [R=301,NC,L]
RewriteRule ^index.(.*)/$ / [R=301,NC,L]
RewriteRule ^(.*)/index /$1 [R=301,NC,L]


##RewriteRule ^(.*)index.php(.*) http://iq-offshore.com/$1$2 [R=301,L]
##RewriteRule ^(.*)index.php http://iq-offshore.com/$1 [R=301,L]

RewriteRule ^sitemap\.xml$ /uploads/seo/sitemap\.xml [L]

#RewriteCond %{HTTP_HOST} betta\.iq-offshore\.com.*$
#RewriteRule ^robots\.txt$ robots_betta.txt [L]

#RewriteCond %{HTTP_HOST} alpha\.iq-offshore\.com.*$
RewriteCond %{HTTP_HOST} !^iq-offshore\.com.*$
RewriteRule ^robots\.txt$ robots_betta.txt [L]


RewriteRule ^robots\.txt /uploads/seo/robots\.txt [L]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.rar
#RewriteCond %{REQUEST_URI} !\.zip
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)index.php(.*) http://iq-offshore.com/$1 [L,R=301]
RewriteRule . /

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf|woff)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
<FilesMatch ".(html)$">
  Header set Cache-Control "max-age=3600"
</FilesMatch>
<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
  Header unset Cache-Control
</FilesMatch>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType image/gif "access plus 2 months"
    ExpiresByType image/jpeg "access plus 2 months"
</IfModule>
