AddDefaultCharset UTF-8

Order allow,deny
allow from all
Deny from 82.146.41, 82.146.40


Options +FollowSymLinks
##IndexIgnore */*
RewriteEngine On
RewriteBase /
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

RewriteCond %{HTTP_HOST} ^www*.iq-offshore\.com [NC]
RewriteRule (.*) http://iq-offshore.com/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^.*/index\.(php|html?) [NC]
RewriteRule ^(.*)index.(php|html?)$ /$1 [R=301,NC,L]

RewriteRule ^offers/index$ /$1 [R=301,NC,L]
RewriteRule ^news/index$ /news [R=301,NC,L]
RewriteRule ^news/c/(.*)$ /news-category/$1 [R=301,NC,L]

##RewriteCond %{THE_REQUEST} \s(.*)\?page=([^&\s]+)&(.*)\s [NC]
##RewriteRule ^ %1/page%2?%3 [R=301,L]
##RewriteRule ^(.*)/page([0-9]+)$ /$1/page/$2 [QSA,L]

#RewriteCond %{THE_REQUEST} \s(.*)\?page=([^&\s]+)(.*)\s [NC]
#RewriteRule ^ %1/page%2? [R=301,L]
#RewriteRule ^(.*)/page/([0-9]+)$ /$1/page$2 [R=301,NC,L]


RewriteRule ^news/page-articles$ /news [R=301,NC,L]
RewriteRule ^(.*)/view/(.*)$ /$1/$2 [R=301,NC,L]
RewriteRule ^index.(.*)/$ / [R=301,NC,L]
RewriteRule ^(.*)/index /$1 [R=301,NC,L]


##RewriteRule ^(.*)index.php(.*) http://iq-offshore.com/$1$2 [R=301,L]
##RewriteRule ^(.*)index.php http://iq-offshore.com/$1 [R=301,L]

RewriteRule ^sitemap\.xml$ /uploads/seo/sitemap\.xml [L]
RewriteRule ^robots\.txt /uploads/seo/robots\.txt [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.rar
#RewriteCond %{REQUEST_URI} !\.zip
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)index.php(.*) http://iq-offshore.com/$1 [L,R=301]
RewriteRule . /

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf|woff)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
  Header unset Cache-Control
</FilesMatch>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType image/gif "access plus 2 months"
    ExpiresByType image/jpeg "access plus 2 months"
</IfModule>
